/*VARIABLES*/
$color-principal:rgb(50, 33, 77);
$color-secundario:white;
$color-navegador: rgb(66, 15, 62);


//! Listas
$colores:
darkgray
blueviolet
black;



//!MAPAS 

$button: (
    fondo-boton:black,
    bordes-boton : 2px solid green,
    color-texto: white,
);
.btn{
    background-color: map-get($button, fondo-boton);
    border: map-get($button , bordes-boton );
};


//!EXTENDS

%flex{
    display: flex;
    justify-content: center;
    align-items: center;
}


//! MIXINS


@mixin flex ($flex, $justify, $direction){
display: $flex;
justify-content: $justify;
flex-direction: $direction;
};

//! CONDICIONALES

// if(condicional){
//    se ejecuta este codigo
// }else{
//    se 
// }

//* PARA SELECCIONAR DARKMODE O LIGHTMODE

@mixin modos($darkmode){
    @if $darkmode == black{
        border: solid 2px white;
    }@else{
        border: solid 2px black;
    }
}

